<div class="card mb-3" xmlns="http://www.w3.org/1999/html">
    <div class="card">
        <div class="card-body">
            <div class="media">
                <img class="align-self-start rounded-circle border border-secondary mr-3"
                     src="{{ post.author.avatar(64) }}" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">{{ post.title }}</h5>
                    <p class="card-subtitle mb-2 text-muted">
                        <a href="{{ url_for('user', username=post.author.username) }}"
                           class="text-secondary">
                            {{ post.author.username }}</a>
                </div>
            </div>
            <div class="card-text mb-3">
                <p>
                {{ post.body | safe}}
            </div>

            {% if post.code %}
            <div class="card-text mb-3">
                <a href="{{ post.code or '#' }}" target="_blank">{{ post.code or '#' }}</a>
            </div>
            {% endif %}

            {% if group is defined and group == 'admin' %}
            <div class="btn-group">

                <p><a href="{{ url_for('edit_post', post = post.id) }}" class="btn btn-outline-secondary btn-sm" role="button">Edit Post</a></p>
            </div>
            {% endif %}

        </div>
        <div class="card-footer text-center">
            <small>Tags:</small>
            {% if post.categories is not none %}
            {% set list = post.categories.split(',') %}
            {% for value in list %}
            <a href="#" class="badge badge-light"> {{ value }} </a>
            {% endfor %}
            {% else %}
            <a href="" class="badge badge-light"> None </a>
            {% endif %}
        </div>
    </div>
</div>