<div class="card mb-3">
    <div class="card">
        <div class="card-header">
            Admin Menu
        </div>
        <div class="card-body">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModal">
                {% if edit_check == true %}
                Edit Post
                {% else %}
                New Post
                {% endif %}
            </button>
            {% if delete is defined and group == 'admin' %}
            <div class="btn-group">
                <form class="form-inline" action="" method="post">
                    {{ form.hidden_tag() }}
                    <input id="post_id" name="post_id" class="btn btn-dark btn-sm" type="submit" value="{{ post.id }}">
                </form>
            </div>
            {% endif %}
            <!-- Modal -->
            <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New Post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="container">
                            <form action="" method="post">
                                {{ form.hidden_tag() }}
                                <div class="form-group pt-3">{{ form.title(class_="form-control", placeholder="Title") }}
                                </div>
                                <div class="form-group">{{ form.categories(class_="form-control",
                                    placeholder="Categories") }}
                                </div>
                                <div class="form-group">{{ form.post() }}</div>
                                <p class="card-text">
                                <h6>Code:</h6>
                                <div class="form-group">{{ form.code(class_="form-control",placeholder="https://") }}</div>
                                {% for error in form.post.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Close</button>
                                    {{ form.submit(class="btn btn-secondary btn-sm") }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{{ ckeditor.load() }}
{{ ckeditor.config(name='post') }}
