{% extends 'bootstrap/base.html' %}

    {%- block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>
    {%- block styles %}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    <link href="{{bootstrap_find_resource('css/fontawesome-all.css', cdn='bootstrap')}}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/custom.css">
    {%- endblock styles %}
    {%- endblock head %}

{% block body_attribs %}
{% endblock body_attribs %}

{% block content %}
<div class="container bg-light text-dark border border-light rounded">

    {% include 'navbar.html' %}
    <img src="/static/beach.jpg" class="img-fluid mb-3 rounded-bottom" alt="Responsive image">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block app_content %}

    {% endblock %}

</div>
{% endblock %}