{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="card mb-3">
    <div class="card">
        <div class="card-header">
            {{ title }}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    {{ wtf.quick_form(form, button_map={'submit': 'secondary'}) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}