<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark mr-auto rounded-top">

    <a class="navbar-brand" href="#">
    <img src="/static/logo.png" width="32" height="32" class="d-inline-block align-top" alt="">
    Tracked Route
    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Blog</a>
            </li>
            <li>
                <a class="nav-link" href="{{ url_for('render') }}">Render</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('register') }}"><button type="button" class="btn btn-outline-light">Register</button></a>
                <a href="{{ url_for('login') }}"><button type="button" class="btn btn-outline-light">Sign in</button></a>
                {% else %}
                <a href="{{ url_for('logout') }}"><button type="button" class="btn btn-outline-light">Sign out</button></a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>