{% extends "base.html" %}
{% block app_content %}
<div class="card mb-3">
    <div class="card">
        <div class="card-header">
            {{ title }}
        </div>
        <div class="card-body">
            <table>
                <tr valign="top">
                    <td><img src="{{ user.avatar(128) }}" class="rounded-circle"></td>
                    <td>
                        <h2>{{ user.username }}</h2>
                        {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
                        {% if user == current_user %}
                        <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                        <p><a href="{{ url_for('edit_pw') }}">Change your password</a></p>
                        {% endif %}
                        <hr>
                        {% if user.about_me %}
                        <p>{{ user.about_me }}</p>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}